<div class="center-block">
<p>Der vil være mulighed for at deltage i forskellige aktiviteter på mandekonferencen.</p>
 
<p>Nogle af disse er arrangeret i samarbejde med flyvestation Aalborg:
Springtårn: Springet herfra er den sidste øvelse for faldskærmudspringere inden de hopper fra fly i luften. Ved springet sker der et frit fald på ca. fem meter inden sikkerhedsudstyret griber dig og du mærker samme ryk som ved et faldskærmsudspring. Herefter glider du på en svævebane det sidste stykke ned til jorden.
Kom i praktisk tøj – eller hav det med og skift på stedet. Tilmelding påkrævet.
 </p>
<p><span class='orange'>Lille forhindringsbane i hold:</span> Tæt på den hangar som det meste af konferencen foregår findes en lille forhindringsbane. Denne skal forceres i hold. I skal have noget udstyr med, så samarbejde bliver et keyword. Skiftetøj vil være en fordel. Tilmelding påkrævet.
 </p>
<p><span class='orange'>Herkules fly:</span> Flyvestation Aalborg er base for de danske Hercules fly. En gruppe deltagere får mulighed for at komme tæt på disse gigantiske fly. Tilmelding påkrævet.
 </p>
<p><span class='orange'>Redningshelikopter:</span> Kom tæt på en af de redningshelikoptere, der bl.a. henter folk op fra det kolde hav. En spændende mulighed. Tilmelding påkrævet. Det tages forbehold for at redningshelikopterne er på opgave.
 </p>
<p><span class='orange'>Materiellet:</span> Der vil være mulighed for at tjekke noget af flyvestationens materiel
 </p>
<p><span class='orange'>Andre aktiviteter:</span>
Walk and talk: Kunne du tænke dig, at vende noget af det, som du har hørt under formiddagens oplæg, så er der mulighed for at drøfte dette under en gåtur med en anden.
 </p>
<p><span class='orange'>Drøftelse:</span> Er der noget du gerne vil have uddybet fra formiddagens oplæg, så er det her muligheden er.
 </p>
<p><span class='orange'>Boghjørnet:</span> Forlaget ProRex er med på konferencen og har en masse spændende bøger med som er relevante for dagen og for mænd.
 </p>
<p><span class='orange'>Det engelske parlament:</span> Kan du lide at diskutere og argumentere, så er det her du skal deltage. Du har sikkert set det engelske parlament i TV, hvordan hver side af salen kan have forskellige holdninger og ikke er bange for at give udtryk for dem. Det vil vi skabe på konferencen. Dem som ønsker at være med, bliver delt op i to hold. Hvert hold får tildelt en holdning til et givent emne. I skal nu argumentere for den holdning I har fået. En sjov og spændende måde at deltage i drøftelse på.
 </p>
<p><span class='orange'>Wii/PlayStation:</span> Kan du lide at spille, så er der også mulighed for dette. Kæmp mod dine venner i Fifa eller i bil ræs.
 </p>
<p><span class='orange'>Fede biler:</span> Og vi mener fede biler. Biler som du ikke blot kan komme tæt på, beundre og savle over (du skal helst savle ved siden af bilen og ikke på den). Du kan simpelthen købe dig en tur på passagersædet og få et ræs ud over det sædvanlige. Overskuddet fra disse ture går til Soldatermissionens Rekreationshjem for hjemvendte soldater med Posttraumatisk Stress.</p>
</div>