<h1>Velkommen til mandekonference.dk</h1>
<p>Mandekonferencen 2014 sætter fokus på det at være mand og kristen, på den maskuline rejse fra dreng til mand, og på hvordan de maskuline værdier kan udleves i praksis.<br/>
Viste du at den maskuline rejse består af faser som Cowboy, Kriger, Elsker, Konge og Vismand? Det kan du høre meget mere om på konferencen.</p>

 <p><span class='orange'>Tidspunkt</span> 30. august 2014</p><p>

<span class='orange'>Sted</span> Flyvestation Aalborg, Thisted Landevej 53C, 9430 Vadum</p><p>

<span class='orange'>GPS koordinater</span> 57.108383, 9.857116</p><p>

<span class='orange'>Pris</span> 500 kr. pr. mand</p><p>

<span class='orange'>Tilmelding</span> mandekonference.dk</p><p>

<span class='orange'>Sidste tilmelding</span> 10. august</p><p>

<span class='orange'>Hjemmeside</span> www.mandekonference.dk</p><p>

<span class='orange'>Kontaktperson</span> Steen Møller Laursen, steen@m-laursen.dk, 3072 3843</p><p>

<span class='orange'>Indbydere</span> Danmarks Folkekirkelige Søndagsskoler, Luthersk Mission, Indre Mission, 

Indre Missions familiearbejde, LM kids, Luthersk Missions Ungdom, Menighedsfakultetet,

Indre Missions Ungdom, Agape</p>
