<h1>Program</h1>
<table cellpadding="0" cellspacing="0" class="t1">
<tbody><tr>
	<td class="tr3 td10"><p class="p17 ft9">09.00</p></td>
	<td class="tr3 td11"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="7" class="tr3 td12"><p class="p18 ft9">Ankomst, registrering, kaffe og rundstykker</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td16"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td17"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">09.45</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td24"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td25"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr5 td23"><p class="p1 ft9">Velkomst</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td16"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td17"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td21"><p class="p17 ft9">10.00</p></td>
	<td class="tr6 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td24"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td25"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr6 td23"><p class="p19 ft11">Andagt</p></td>
	<td class="tr6 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td27"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">10.20</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft13"><span class="ft12">Ole Rabjerg: </span>Mandens epoker 1</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td16"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td17"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td21"><p class="p17 ft9">11.00</p></td>
	<td class="tr6 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td24"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td25"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr6 td23"><p class="p19 ft14">Pause</p></td>
	<td class="tr6 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td27"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">11.20</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft15"><span class="ft14">Ole Rabjerg: </span>Mandens epoker 2</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td27"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td21"><p class="p17 ft9">12.00</p></td>
	<td class="tr6 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr6 td28"><p class="p20 ft11">Tid til bøn og stilhed</p></td>
	<td class="tr6 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td27"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td18"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td29"><p class="p17 ft16">12.30</p></td>
	<td class="tr5 td30"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td31"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td32"><p class="p20 ft17">Frokost og aktiviteter</p></td>
	<td class="tr5 td33"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr7 td29"><p class="p1 ft18">&nbsp;</p></td>
	<td colspan="2" class="tr7 td34"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td35"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td36"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td37"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td38"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td39"><p class="p1 ft18">&nbsp;</p></td>
	<td class="tr7 td33"><p class="p1 ft18">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr5 td40"><p class="p21 ft9">Aktiviteter fra flyvestationen:</p></td>
	<td class="tr5 td41"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td42"><p class="p22 ft9">•</p></td>
	<td colspan="2" class="tr5 td43"><p class="p1 ft9">Tjekmateriellet</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td22"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td23"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td24"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="4" class="tr8 td44"><p class="p22 ft20">• WalkandtalkomOlesoplæg</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td22"><p class="p21 ft20">•</p></td>
	<td class="tr8 td23"><p class="p23 ft21">UdspringfraTårn</p></td>
	<td class="tr8 td24"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="4" class="tr8 td44"><p class="p22 ft20">• Drøftelseaf<span class="ft22">mandens epoker </span>i grupper</p></td>
</tr>
<tr>
	<td class="tr9 td21"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td22"><p class="p21 ft9">•</p></td>
	<td colspan="2" class="tr9 td45"><p class="p24 ft9">Lilleforhindringsbaneihold</p></td>
	<td class="tr9 td41"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td42"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr9 td46"><p class="p1 ft9">sammen med Ole Rabjerg</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td22"><p class="p21 ft20">•</p></td>
	<td class="tr8 td23"><p class="p24 ft21">BesøgHerkulesflyet</p></td>
	<td class="tr8 td24"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td42"><p class="p22 ft20">•</p></td>
	<td colspan="2" class="tr8 td43"><p class="p1 ft20">Boghjørnet</p></td>
	<td class="tr8 td26"><p class="p1 ft19">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="3" class="tr8 td40"><p class="p21 ft20">• Besøgredningshelikopteren</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="4" class="tr8 td44"><p class="p22 ft20">• Detengelskeparlament</p></td>
</tr>
<tr>
	<td class="tr9 td21"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr9 td40"><p class="p21 ft9">Der kan vælges én aktiv ting.</p></td>
	<td class="tr9 td41"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td42"><p class="p22 ft9">•</p></td>
	<td colspan="2" class="tr9 td43"><p class="p1 ft9">Wii/playstation</p></td>
	<td class="tr9 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="3" class="tr8 td40"><p class="p21 ft20">Begrænsetantalpladser.Førsttil</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td42"><p class="p22 ft20">•</p></td>
	<td colspan="2" class="tr8 td43"><p class="p1 ft20">Fedebiler</p></td>
	<td class="tr8 td26"><p class="p1 ft19">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="2" class="tr8 td47"><p class="p21 ft20">mølle …</p></td>
	<td class="tr8 td24"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td41"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td42"><p class="p1 ft19">&nbsp;</p></td>
	<td colspan="3" class="tr8 td46"><p class="p1 ft20">(måskemulighedforatkøbeentur)</p></td>
</tr>
<tr>
	<td class="tr10 td13"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td14"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td15"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td16"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td48"><p class="p1 ft23">&nbsp;</p></td>
	<td colspan="2" class="tr10 td18"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td19"><p class="p1 ft23">&nbsp;</p></td>
	<td class="tr10 td20"><p class="p1 ft23">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td29"><p class="p17 ft16">15.15</p></td>
	<td class="tr5 td30"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td31"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td35"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="4" class="tr5 td49"><p class="p25 ft24">Kaffe og kage</p></td>
	<td class="tr5 td33"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td50"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td51"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td52"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td53"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td54"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td55"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td21"><p class="p17 ft9">15.45</p></td>
	<td class="tr6 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="7" class="tr6 td56"><p class="p26 ft25"><span class="ft11">Ole Rabjerg: </span><nobr>Fadersåret–omGudsbilledeogselvbillede</nobr></p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="4" class="tr4 td57"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">16.30</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft11">Tid til bøn og stilhed</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="4" class="tr4 td57"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td21"><p class="p17 ft9">17.15</p></td>
	<td class="tr6 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td58"><p class="p26 ft11">Peter Rask:</p></td>
	<td colspan="4" class="tr6 td59"><p class="p27 ft14">Daniel Jakobsen:</p></td>
	<td class="tr6 td60"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td26"><p class="p28 ft11">Steen Palmqvist:</p></td>
</tr>
<tr>
	<td class="tr9 td21"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td58"><p class="p29 ft25">Maskuline værdier</p></td>
	<td colspan="4" class="tr9 td59"><p class="p27 ft25">Maskuline værdier</p></td>
	<td class="tr9 td60"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr9 td26"><p class="p28 ft25">Maskuline værdier</p></td>
</tr>
<tr>
	<td class="tr8 td21"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td22"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td58"><p class="p26 ft15">i kirken i praksis</p></td>
	<td colspan="4" class="tr8 td59"><p class="p27 ft25">i samfundet i praksis</p></td>
	<td class="tr8 td60"><p class="p1 ft19">&nbsp;</p></td>
	<td class="tr8 td26"><p class="p28 ft15">i familien i praksis</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td61"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td27"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td62"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr6 td29"><p class="p17 ft16">18.30</p></td>
	<td class="tr6 td30"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr6 td31"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr6 td32"><p class="p20 ft17"><nobr>Aftensmad–spareribs</nobr></p></td>
	<td class="tr6 td33"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td50"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td51"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td52"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td53"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="2" class="tr4 td54"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td63"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td64"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">20.00</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft14"><nobr>Stand-up</nobr> v. Jacob Svendsen</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="5" class="tr4 td65"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">20.40</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft11">Lovsang og mulighed for forbøn</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr11 td13"><p class="p1 ft26">&nbsp;</p></td>
	<td class="tr11 td14"><p class="p1 ft26">&nbsp;</p></td>
	<td class="tr11 td15"><p class="p1 ft26">&nbsp;</p></td>
	<td colspan="5" class="tr11 td65"><p class="p1 ft26">&nbsp;</p></td>
	<td class="tr11 td20"><p class="p1 ft26">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">21.20</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="5" class="tr5 td28"><p class="p20 ft11">Afrunding og tak for i dag</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td16"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td17"><p class="p1 ft10">&nbsp;</p></td>
	<td colspan="3" class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr5 td21"><p class="p17 ft9">21.30</p></td>
	<td class="tr5 td22"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td23"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td24"><p class="p1 ft1">&nbsp;</p></td>
	<td class="tr5 td25"><p class="p1 ft1">&nbsp;</p></td>
	<td colspan="3" class="tr5 td23"><p class="p30 ft11">Farvel</p></td>
	<td class="tr5 td26"><p class="p1 ft1">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td13"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td14"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td15"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td16"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td17"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td66"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td67"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td19"><p class="p1 ft10">&nbsp;</p></td>
	<td class="tr4 td20"><p class="p1 ft10">&nbsp;</p></td>
</tr>
</tbody></table>
<br/>
