<div class="hero-unit">
   <h2>
  Program:  
</h2>
<p>
<a href="/assets/Mandekonference.pdf">(Hent program)</a>

</p>
<br>
<p>
<strong>09.00</strong> Ankomst, registrering, kaffe og rundstykker<br>
<strong>09.45</strong> Velkomst<br> 
<strong>10.00</strong> Andagt <br> 
<strong>10.20</strong> Ole Rabjerg: Mandens epoker 1<br>
<strong>11.00</strong> Pause<br>
<strong>11.20</strong> Ole Rabjerg: Mandens epoker 2<br>
<strong>12.00</strong> Tid til stilhed og bøn<br>
<strong>12.30</strong> Vælg en aktivitet:<br>
</p>
<div class="well">
  <ol>
    <li><strong>Aktiviteter fra flyvestationen:</strong>
    <ul>

<li>Udspring fra Tårn</li>

<li>Lille forhindringsbane i hold</li>

<li>Besøg Herkules flyet</li>

<li>Besøg redningshelikopteren</li>
</ul>

Der kan vælges én aktiv ting. 

Begrænset	antal	pladser.	Først	til	

mølle …</li>
    <li><strong>Tjek	materiellet</strong>
<ul>
<li>Walk	and	talk	om	Oles	oplæg

<li>Drøftelse af mandens epoker i grupper sammen med Ole Rabjerg</li>

<li>Boghjørnet</li>

<li>Det engelske parlament</li>

<li>Wii/playstation</li>

<li>Fede biler</li> 
</ul>
Mulighed for at tilkøbe en køretur</li>
  
  </ol>
</div>
<p>
<strong>15.15</strong> Kaffe og kage<br>
<strong>15.45</strong> Ole Rabjerg: Fadersåret – om Gudsbillede og selvbillede<br>
<strong>16.30</strong> Tid til bøn og stilhed<br> 
</p>
<strong>16.30</strong> Vælg et seminar:<br>
</p>
<div class="well">
 
    <ol>

<li>Peter Rask:

Maskuline værdier

i kirken i praksis</li>

<li>Daniel Jakobsen:

Maskuline værdier

i samfundet i praksis</li>

<li>Steen Palmqvist:

Maskuline værdier 

i familien i praksis</li>

</ol>  
</div>
<strong>18.30</strong> Aftensmad – spareribs<br>
<strong>20.00</strong> Stand-up v. Jacob Svendsen<br> 
<strong>20.40</strong> Lovsang og mulighed for forbøn <br> 
<strong>21.20</strong> Afrunding og tak for i dag<br>
<strong>21.30</strong> Farvel<br>
</div>