<script src="http://billet.tonclank.pil.dk/js/handlingIFrame.js" type="text/javascript"></script>

<div class="center hero-unit">
   <h2>
  Tilmelding  
</h2>
<div>
<iframe id="ticket-2-heaven-iframe" width="550" height="900" scrolling="no" frameborder="0" src="http://billet.imh.dk/events/view/id/143/targetSiteId/79" ></iframe>
</div>

</div>

</p>