/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$navbar-inverse-bg: #00305f;
$navbar-inverse-border: #00305f;

// Inverse navbar

.navbar-inverse {
background-color: $navbar-inverse-bg;
border-color: $navbar-inverse-border;
color:#fff;
}

.navbar-inverse .navbar-brand {
	color:#fff;
}

body {
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.nav {
	margin-top: 28px; /* this is a faux center fix for the nav options - adjust this if you wish to change the logo height or the font of the menu items */
}

footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: #999;
}
footer ul {
float: right;
list-style: none;
}
footer ul li {
float: left;
margin-left: 10px;
}
.orange {
	color:#00305f;
}

.navbar  a {
	color: #fff;
}



#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 794px;height: 1123px;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:794px;height:1123px;}
#page_1 #dimg1 #img1 {width:794px;height:1123px;}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}


#page_2 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 794px;height: 1123px;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:794px;height:1123px;}
#page_2 #dimg1 #img1 {width:794px;height:1123px;}
